@page "/"
@using Models
@using Utilities
@inject PokeClient client

<PageTitle>Home</PageTitle>

@if (pokemon is null)
{
	<p>Loading Pokémon...</p>
}
else
{
	<h1>@pokemon.name</h1>
}

@code{
	private Pokemon? pokemon;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			pokemon = await client.GetPokemon("1");
		}
		catch (Exception ex)
		{
			Console.WriteLine($"Error fetching Pokémon: {ex.Message}");
		}
	}
}